version: "3"

services:
  app:
    container_name: lexicon-server
    build: .
    restart: always
    env_file: .env
    depends_on:
      - redis
    ports:
      - "${APP_PORT}:80"
    networks:
      - backend

  mysql:
    image: mysql:5.7.32
    container_name: lexicon-mysql
    restart: always
    volumes:
      - mysql:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=${DB_DATABASE}
      - MYSQL_USER=${DB_USERNAME}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
    ports:
      - "3306:3306"
    networks:
      - backend

  redis:
    image: redis:latest
    container_name: lexicon-redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - backend

networks:
  backend:

volumes:
  mysql:
